body{
  background-color: #ffffff;
}

* p {
  color: #666;
  font-weight: 500;
}

* p, h1, h2, h3, h4, h5, h6, a, .logo, .skills-skill {
  font-family: -apple-system, system-ui, BlinkMacSystemFont;
}

@media (min-width: 576px) {
  .logo {
    font-size: 34px;
    font-weight: 550;
    color: #333;
  }  
  }


@media (min-width: 1201px) {
  .logo {
    font-size: 29px;
    font-weight: 550;
    color: #333;
  }  
  }

/* Navbar styling */

@media (min-width: 576px) {
  nav {
    background-color: #ffffff;
    opacity: 90%;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
  }
  }


@media (min-width: 1201px) {
  nav {
    background-color: #ffffff;
    opacity: 90%;
    width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
  }
  }

  .menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
  }

  
  
  .navigation {
    display: flex;
    justify-content: flex-end;
    font-size: 25px;
    font-weight: 550;
  }
  
  .navigation li {
    list-style: none;
    margin-left: 40px;
  }
  
  .navigation li:first-child {
    margin-left: 0;
  }
  
  .navigation a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
  }

  @media (min-width: 576px) {
    .navigation a:hover {
      color: #facf0f;
      cursor: none;
    }
    }
  
  
  @media (min-width: 1201px) {
    .navigation a:hover {
      color: #facf0f;
      cursor: pointer;
    }
    }
  
  /* Hamburger menu */
  @media (max-width: 768px) {
    .menu-toggle {
      display: block;
    }
    
    .navigation {
      display: none;
      position: absolute;
      top: 50px;
      left: 0;
      width: 100%;
      background-color: white;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
      flex-direction: column;
      align-items: center;
      padding: 10px 0;
    }
    
    .navigation li {
      margin: 10px 0;
    }
    
    .navigation a {
      font-size: 20px;
    }
    
    .navigation.show {
      display: flex;
    }
  }
  
  #home-section {
    padding-top: 300px;
    padding-bottom: 215px;
  }

  @media (min-width: 576px) {
    #projects-section {
      padding-top: 450px;
      text-align: center;
    }
  }
  
  @media (min-width: 1201px) {
    #projects-section {
      padding-top: 260px;
      text-align: left;
    }
  }

  #about-me-section {
    padding-top: 250px;
  }

  @media (min-width: 576px) {
    #contact-section {
      padding-top: 400px;
    }
  }
  
  @media (min-width: 1201px) {
    #contact-section {
      padding-top: 250px;
    }
  }


.container {
    width: 1200px;
    margin: auto;
}

  li a[href="#contact-section"] {
    background-color: #facf0f;
    color: #333;
    border: none;
    border-radius: 20px;
    padding: 10px 25px;
    margin-right: 10px;
  }

  @media (min-width: 576px) {
    .project-btn {
      border: none;
      background-color: #facf0f;
      font-size: 30px;
      font-weight: 500;
      padding: 20px;
      text-align: center;
      cursor: pointer;
      border-radius: 10px;
      width: 300px;
    }
  }
  
  @media (min-width: 1201px) {
    .project-btn {
      border: none;
      background-color: #facf0f;
      font-size: 20px;
      font-weight: 500;
      padding: 10px;
      text-align: center;
      cursor: pointer;
      border-radius: 10px;
      width: 150px;
      font-weight: 600;
    }
  }

.project-bottom-btn {
  border: none;
  background-color: transparent;
}

.project-bottom-wrapper {
  text-align: center;
}

@media (min-width: 576px) {
  .flex-box {
    display: block;
    justify-content: space-between;
    height: 100%;
    text-align: center;
  }
}

@media (min-width: 1201px) {
  .flex-box {
    display: flex;
    justify-content: space-between;
    height: 100%;
    text-align: left;
  }
}

@media (min-width: 576px) {
  .flex-box2 {
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin-top: 170px;
    margin-bottom: 170px;
    flex-direction: column;
  }
}

@media (min-width: 1201px) {
  .flex-box2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5rem;
    justify-content: space-between;
    height: 100%;
    margin-top: 150px;
    margin-bottom: 150px;
    flex-direction: row;
  }
}

@media (min-width: 576px) {
  .flex-box3 {
    display: block;
    justify-content: space-between;
    height: 100%;
    text-align: center;
  }
}

@media (min-width: 1201px) {
  .flex-box3 {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 5rem;
    justify-content: space-between;
    height: 100%;
    text-align: left;
  }
}

@media (min-width: 576px) {
  .item-5 {
    order: 2;
  }
}

@media (min-width: 1201px) {
  .item-5 {
    order: 1;
  }
}

@media (min-width: 576px) {
  .item-6 {
    order: 1;
  }
}

@media (min-width: 1201px) {
  .item-6 {
    order: 2;
  }
}

@media (min-width: 576px) {
  .item-1, .item-2 {
    flex-basis: 50%;
    text-align: center;
  }
}

@media (min-width: 1201px) {
  .item-1, .item-2 {
    flex-basis: 50%;
  }
}

@media (min-width: 576px) {
  .item-2 img {
    width: 75;
    margin-top: -213px;
  }
}

@media (min-width: 1201px) {
  .item-2 img {
    width: 90%;
    margin-top: 0%;
  }
}

@media (min-width: 576px) {
  .item-2 {
    background-image: url('putanja/do/pozadina.png');
    background-size: cover;
    background-position: center;
    position: relative;
    animation: moveUpDown 3s ease-in-out infinite;
    width: 100%;
    height: 500px;
    margin-top: 200px;
  }
}

@media (min-width: 1201px) {
  .item-2 {
    background-image: url('putanja/do/pozadina.png');
    background-size: cover;
    background-position: center;
    position: relative;
    animation: moveUpDown 3s ease-in-out infinite;
    width: 100%;
    height: 500px;
    margin-top: 0%;
  }
}

@keyframes moveUpDown {
  0% {
    top: 0;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 0;
  }
}

.item-3 {
  display: flex;
  flex-direction: column;
}

@media (min-width: 576px) {
  .image-section::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 22.1%;
    z-index: -1;
    width: 55.7%;
    height: 110%;
    border-radius: 50px 50px 50px 50px;
    animation: pulse 8s ease-in-out infinite alternate;
    background: linear-gradient(to right, #8E2DE2, #4A00E0, #8E2DE2);
    background-size: 400% 400%;
}
}

@media (min-width: 1201px) {
  .image-section::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 10.9%;
    z-index: -1;
    width: 78.4%;
    height: 80%;
    border-radius: 50px 50px 50px 50px;
    animation: pulse 8s ease-in-out infinite alternate;
    background: linear-gradient(to right, #8E2DE2, #4A00E0, #8E2DE2);
    background-size: 400% 400%;
  }
}

.image-section img {
  position: absolute;
  top: 0;
  left: 10%;
  width: 80%;
  height: 100%;
  object-fit: cover;
}

@keyframes pulse {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@media (min-width: 576px) {
  .fs-h1 {
    font-size: 5.5rem;
    font-weight: 700;
    margin: auto;
    padding-top: 75px;
    padding-bottom: 40px;
    color: #313131;
    max-width: 900px;
  }
}

@media (min-width: 1201px) {
  .fs-h1 {
    font-size: 47px;
    font-weight: 700;
    margin: 0%;
    padding-top: 75px;
    padding-bottom: 40px;
    color: #313131;
  }
}

@media (min-width: 576px) {
  .fs-h2 {
    font-size: 2.8rem;
    font-weight: 500;
    margin: auto;
    padding-bottom: 40px;
    color: #313131;
    text-align: center;
    max-width: 850px;
  }
}

@media (min-width: 1201px) {
  .fs-h2 {
    font-size: 27px;
    font-weight: 500;
    margin: 0%;
    padding-bottom: 40px;
    color: #313131;
    text-align: center;
  }
}

@media (min-width: 576px) {
  .in-img, .git-img {
    width: 8%;
    margin-right: 20px
  }
  }


@media (min-width: 1201px) {
  .in-img, .git-img {
    width: 6%;
    margin-right: 20px
  }
  }


.tech-stack img {
  width: 45%;
  margin-top: 100px;
  margin-left: 0%;
}


.ss-btn-wrapper {
  text-align: center;
}

@media (min-width: 576px) {
  .ss-btn-yellow {
    background-color: #facf0f;
    padding: 5px 30px;
    border: none;
    border-radius: 20px;
}
  }


@media (min-width: 1201px) {
  .ss-btn-yellow {
    background-color: #facf0f;
    padding: 3px 20px;
    border: none;
    border-radius: 20px;
}
  }

@media (min-width: 576px) {
  .ss-h2 {
    font-size: 5rem;
    margin: 0%;
    padding-bottom: 50px;
    text-align: center;
}
  }


@media (min-width: 1201px) {
  .ss-h2 {
    font-size: 50px;
    margin: 0%;
    padding-bottom: 25px;
    text-align: center;
}
  }

  @media (min-width: 576px) {
    .ss-h3 {
      font-size: 4rem;
      margin: 0%;
      padding-bottom: 50px;
    }
    }
  
  
  @media (min-width: 1201px) {
    .ss-h3 {
      font-size: 40px;
      margin: 0%;
      padding-bottom: 25px;
    }
    }

    @media (min-width: 576px) {
      .ss-h4 {
        font-size: 34px;
        text-align: center;
        max-width: 70rem;
        margin: auto;
        padding-top: 50px;
        font-weight: 500;
        padding-bottom: 200px;

      }
      }
    
    
    @media (min-width: 1201px) {
      .ss-h4 {
        font-size: 22px;
        text-align: center;
        max-width: 45rem;
        padding-top: 25px;
        padding-bottom: 200px;

      }
      }

    

    @media (min-width: 576px) {
      .ss-p {
        font-size: 2.8rem;
        max-width: 60rem;
        margin: auto;
        text-align: center;
        padding-bottom: 50px;
        font-weight: 500;
        max-width: 80%;
      }
      }
    
    
    @media (min-width: 1201px) {
      .ss-p {
        font-size: 1.6rem;
        font-weight: 500;
        width: 500px;
        text-align: left;
        margin: 0%;
      }
      }

@media (min-width: 576px) {
  .ts-h2 {
    font-size: 5rem;
    margin: 0%;
    padding-bottom: 50px;
    text-align: left;
    padding: 30px;
  }
  }


@media (min-width: 1201px) {
  .ts-h2 {
    font-size: 35px;
    margin: 0%;
    padding: 0%;
    padding-bottom: 50px;
    text-align: left;
  }
  }

@media (min-width: 576px) {
  .ts-p {
    font-size: 2.8rem;
    margin-right: 100px;
    text-align: left;
    margin: auto;
    padding: 30px;
    font-weight: 500;
    padding-bottom: 100px;
  }
  }


@media (min-width: 1201px) {
  .ts-p {
    font-size: 1.6rem;
    margin-right: 0%;
    text-align: left;
    margin: auto;
    padding: 0;
    font-weight: 500;
  }
  }

form {
  background-color: transparent;
}

@media (min-width: 576px) {
  input[type="text"], input[type="email"], textarea {
    border: 2px solid #333;
    border-radius: 25px;
    padding: 40px;
    margin-bottom: 20px;
    width: 94%;
    background-color: transparent;
    font-size: 30px;
  }
  }


@media (min-width: 1201px) {
  input[type="text"], input[type="email"], textarea {
    border: 2px solid #333;
    border-radius: 25px;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    background-color: transparent;
    font-size: 20px;
  }
  }

input, textarea {
  padding-bottom: 100px;
}

@media (min-width: 576px) {
  input[type="submit"] {
    background-color: #facf0f;
    color: #333;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    cursor: pointer;
    width: 30%;
    font-size: 30px;
  
  }
  }


@media (min-width: 1201px) {
  input[type="submit"] {
    background-color: #facf0f;
    color: #333;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    cursor: pointer;
    width: 15%;
    font-size: 20px;
  
  }
  }

input[type="submit"]:hover {
  background-color: #333;
  color: #facf0f;
}

@media (min-width: 576px) {
  form, table {
    width: 90%;
    margin: 0%;
    padding: 0%;
    margin: auto;
    text-align: center;
    justify-content: center;
  }
  }


@media (min-width: 1201px) {
  form, table {
    width: 70%;
    margin: 0%;
    text-align: left;
  }
  }

@media (min-width: 576px) {
  .fos-h2 {
    font-size: 90px;
    text-align: center;
  }
  }


@media (min-width: 1201px) {
  .fos-h2 {
    font-size: 50px;
    text-align: left;
  }
  }

#footer-section {
  padding-bottom: 20px;
  padding-top: 80px;
}

.fus-h3 {
  font-size: 30px;
}

@media (min-width: 576px) {
  .fus-nav-h3, a {
    font-size: 27px;
    text-decoration: none;
    color: #333;
}
  }


@media (min-width: 1201px) {
  .fus-nav-h3, a {
    font-size: 22px;
    text-decoration: none;
}
  }

  @media (min-width: 576px) {
    .iphone-img {
      width: 90%;
      padding-bottom: 100px;
    }
    }
  
  
  @media (min-width: 1201px) {
    .iphone-img {
      width: 100%;
      padding-bottom: 0;
    }
    }

@media (min-width: 576px) {
  .laptop-img {
    width: 90%;
    padding-bottom: 100px;
  }
  }


@media (min-width: 1201px) {
  .laptop-img {
    width: 100%;
    padding-bottom: 0;
  }
  }

  @media (min-width: 576px) {
    .skills {
      display: flex;
      flex-wrap: wrap;
      padding: 30px;
    }
    }
  
  
  @media (min-width: 1201px) {
    .skills {
      display: flex;
      flex-wrap: wrap;
      padding: 0;
    }
    }

@media (min-width: 576px) {
  .skills-title {
    text-align: left;
    font-size: 5rem;
    padding: 30px;
  }
  }


@media (min-width: 1201px) {
  .skills-title {
    text-align: left;
    font-size: 35px;
    padding: 0;
    margin: 0;
    padding-bottom: 50px;
  }
  }

@media (min-width: 576px) {
  .skills-skill {
    padding: 1.5rem 2rem;
    margin-bottom: 1.5rem;
    margin-right: 1rem;
    font-size: 2.1rem;
    background: rgba(153,153,153,.2);
    border-radius: 5px;
    font-weight: 550;
    color: #666;
  }
  }


@media (min-width: 1201px) {
  .skills-skill {
    padding: 0.5rem 1.5rem;
    margin-bottom: 1.5rem;
    margin-right: 1rem;
    font-size: 1.1rem;
    background: rgba(153,153,153,.2);
    border-radius: 5px;
    font-weight: 550;
    color: #666;
  }
  }

@media (min-width: 576px) {
  .flex-box4 {
    display: block;
    justify-content: space-between;
    height: 100%;
    text-align: center;
  }
  }


@media (min-width: 1201px) {
  .flex-box4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10rem;
  }
  }







