body{
  background-color: #E4E4E4;
}

* h2, h3, p {
  color: #313131;
}

/* Navbar styling */
nav {
    background-color: #E4E4E4;
    opacity: 90%;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    /* box-shadow: 0 2px 5px rgba(0,0,0,0.1); */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
  }
  
  .logo {
    font-size: 32px;
    font-weight: 550;
    font-family: "Source Serif Pro", serif;
    color: #6237A0;
  }
  
  .menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  .navigation {
    display: flex;
    justify-content: flex-end;
    font-size: 25px;
    font-weight: 550;
  }
  
  .navigation li {
    list-style: none;
    margin-left: 40px;
  }
  
  .navigation li:first-child {
    margin-left: 0;
  }
  
  .navigation a {
    text-decoration: none;
    color: #6237A0;
    transition: color 0.3s ease;
  }
  
  .navigation a:hover {
    color: gray;
  }
  
  /* Hamburger menu */
  @media (max-width: 768px) {
    .menu-toggle {
      display: block;
    }
    
    .navigation {
      display: none;
      position: absolute;
      top: 50px;
      left: 0;
      width: 100%;
      background-color: white;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
      flex-direction: column;
      align-items: center;
      padding: 10px 0;
    }
    
    .navigation li {
      margin: 10px 0;
    }
    
    .navigation a {
      font-size: 20px;
    }
    
    .navigation.show {
      display: flex;
    }
  }
  
  #home-section {
    /* height: 100vh; */
    padding-top: 200px;
    padding-bottom: 215px;
  }

  #projects-section {
    padding-top: 230px;
  }

  #about-me-section {
    padding-top: 250px;
  }

  #contact-section {
    padding-top: 250px;
  }


.container {
    width: 1200px;
    margin: auto;
}

  li a[href="#contact-section"] {
    background-color: #6237A0;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 25px;
    margin-right: 10px;
  }

  .project-btn {
    border: none;
    background-color: transparent;
    font-size: 25px;
    font-weight: 500;
    padding: 0%;
    text-align: left;
    cursor: pointer;
  }

.project-bottom-btn {
  border: none;
  background-color: transparent;
}

.project-bottom-wrapper {
  text-align: center;
}

@media (min-width: 576px) {
  .flex-box {
    display: block;
    justify-content: space-between;
    height: 100%;
  }
}

@media (min-width: 1201px) {
  .flex-box {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }
}

.flex-box2 {
  display: flex;
  justify-content: space-between;
  height: 100%;
  margin-top: 150px;
}

@media (min-width: 576px) {
  .item-1, .item-2 {
    flex-basis: 50%;
    text-align: center;
  }
}

@media (min-width: 1201px) {
  .item-1, .item-2 {
    flex-basis: 50%;
  }
}

@media (min-width: 576px) {
  .item-2 img {
    width: 60%;
    margin-top: -125px;
  }
}

@media (min-width: 1201px) {
  .item-2 img {
    width: 90%;
    margin-top: 0%;
  }
}

@media (min-width: 576px) {
  .item-2 {
    background-image: url('putanja/do/pozadina.png');
    background-size: cover;
    background-position: center;
    position: relative;
    animation: moveUpDown 3s ease-in-out infinite;
    width: 100%;
    height: 500px;
    margin-top: 130px;
  }
}

@media (min-width: 1201px) {
  .item-2 {
    background-image: url('putanja/do/pozadina.png');
    background-size: cover;
    background-position: center;
    position: relative;
    animation: moveUpDown 3s ease-in-out infinite;
    width: 100%;
    height: 500px;
  }
}

@keyframes moveUpDown {
  0% {
    top: 0;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 0;
  }
}

.item-3 {
  display: flex;
  flex-direction: column;
}

@media (min-width: 576px) {
  .image-section::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 23.8%;
    z-index: -1;
    width: 52.3%;
    height: 90%;
    border-radius: 50px 50px 50px 50px;
    animation: pulse 8s ease-in-out infinite alternate;
    background: linear-gradient(to right, #8E2DE2, #4A00E0, #8E2DE2);
    background-size: 400% 400%;
  }
}

@media (min-width: 1201px) {
  .image-section::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 10.9%;
    z-index: -1;
    width: 78.4%;
    height: 80%;
    border-radius: 50px 50px 50px 50px;
    animation: pulse 8s ease-in-out infinite alternate;
    background: linear-gradient(to right, #8E2DE2, #4A00E0, #8E2DE2);
    background-size: 400% 400%;
  }
}

.image-section img {
  position: absolute;
  top: 0;
  left: 10%;
  width: 80%;
  height: 100%;
  object-fit: cover;
}

@keyframes pulse {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.fs-h1 {
    font-size: 85px;
    font-family: "Source Serif Pro", serif;
    font-weight: 600;
    margin: 0%;
    padding-top: 75px;
    padding-bottom: 40px;
    color: #313131;
}

.fs-h2 {
    font-size: 40px;
    font-family: "Source Serif Pro", serif;
    font-weight: 500;
    margin: 0%;
    padding-bottom: 40px;
    color: #313131;

}

.in-img, .git-img {
  width: 6%;
  margin-right: 20px
}

.tech-stack img {
  width: 8%;
  margin-right: 60px;
  margin-top: 100px;
  margin-left: 0%;
}



.ss-h2 {
  font-size: 60px;
  margin: 0%;
  padding-bottom: 50px;
}

.ss-h3 {
  font-size: 40px;
  margin: 0%;
}

.ss-p {
  font-size: 30px;
}

.project-btn img{
  width: 14%;
  margin: none;
}

.ts-h2 {
  font-size: 60px;
  margin: 0%;
  padding-bottom: 50px;
}

.ts-p {
  font-size: 30px;
  margin-right: 100px;
}

form {
  background-color: transparent;
}

input[type="text"], input[type="email"], textarea {
  border: 2px solid purple;
  border-radius: 25px;
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  background-color: transparent;
  font-size: 20px;
}

input, textarea {
  padding-bottom: 100px;
}

input[type="submit"] {
  background-color: purple;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  cursor: pointer;
  width: 15%;
  font-size: 20px;

}

input[type="submit"]:hover {
  background-color: white;
  color: purple;
}

form, table {
  width: 70%;
}

.fos-h2 {
  font-size: 70px;
}

#footer-section {
  padding-bottom: 20px;
  padding-top: 80px;
}

.fus-h3 {
  font-size: 30px;
}

.fus-nav-h3, a {
  font-size: 25px;
  text-decoration: none;
}









/* .image-section::before {
  content: "";
  background: linear-gradient(to right, #8E2DE2, #4A00E0);
  position: absolute;
  bottom: 0;
  left: 5.9%;
  z-index: -1;
  width: 78.4%;
  height: 80%;
  border-radius: 50px 50px 50px 50px;
}

.image-section img {
  position: absolute;
  top: 0;
  left: 10%;
  width: 80%;
  height: 100%;
  object-fit: cover;
} */
